@import url("https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap");
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
}
.container {
  width: 100%;
  height: 100vh;
  font-family: "Playwrite NG Modern", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* NAVBAR */
.navbar {
  border-bottom: 3px solid darkred;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
}
.navbar p {
  font-size: 2rem;
  color: darkred;
}
.navbar span {
  color: gray;
}
.nav-list {
  list-style-type: none;
  display: flex;
}
a {
  color: white;
  text-decoration: none;
  padding: 0.8rem 1.2rem;
}
a:hover {
  color: darkred;
  background-color: gray;
  border-radius: 0.5rem;
}
/* SECTİON 1 */
.section-1 {
  width: 100%;
  height: 40vh;
  background-image: url(./images/showcase.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-1 h1 {
  font-size: 2.2rem;
}
/* SECTİON 2 */
.section-2 {
  width: 100%;
  height: 10vh;
  padding: 0rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid gray;
}
.section-2 p {
  font-weight: 700;
  font-size: 1.2rem;
}
.mail-to {
  display: flex;
  gap: 0.5rem;
  width: 20%;
}
#mail {
  height: 2rem;
  width: 100%;
  padding: 1.3rem;
}
#subscribe {
  background-color: darkred;
  color: white;
  border: none;
  padding: 0rem 1rem;
}
/* SECTİON 3 */
.section-3 {
  background-color: rgb(226, 223, 223);
  color: black;
  width: 100%;
  height: 28vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 4rem;
}
.section-3 img {
  height: 25%;
  width: 20%;
}
/* FOOTER */
footer {
  background-color: gray;
  color: black;
  font-size: 12px;
  width: 100%;
  height: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
/* MEDİA */
@media (max-width: 800px) {
  .navbar {
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
  }
  .section-1 {
    padding: 1rem;
    text-align: center;
  }
  .section-2 {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: auto;
    border: none;
  }
  .mail-to {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    width: 100%;
  }
  .section-3 {
    flex-wrap: wrap;
    height: auto;
    gap: 1rem;
    padding: 1rem;
  }
  .section-3 div {
    border-bottom: 2px solid darkred;
  }
  footer {
    height: auto;
    padding: 1rem;
  }
}

/* ABOUT PAGE */
.section-4 {
  background-color: wheat;
  color: black;
  width: 100%;
  height: 68vh;
  padding: 2rem;
  gap: 4rem;
  display: flex;
  justify-content: center;
}
.about-us {
  width: 40%;
}
.paragraph-2 {
  background-color: darkred;
  padding: 1rem;
  color: wheat;
}
.what-we {
  background-color: darkred;
  color: wheat;
  padding: 1rem;
  width: 20%;
  height:auto;
}
@media (max-width: 1200px) {
  .section-4 {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: auto;
    padding: 1rem;
  }
  .about-us {
    width: 100%;
    height: auto;
  }
  .paragraph-2 {
    width: 100%;
    height: auto;
  }
  .what-we {
    width: 100%;
  }
  footer {
    height: auto;
    padding: 1rem;
  }
}
/* SERVİCES PAGE */
.section-5 {
  justify-content: stretch;
  position: relative;
}
.services {
  width: 60%;
}
.website-cash {
  background-color: darkred;
  color: wheat;
  padding: 1rem;
  margin: 1rem 0rem;
  font-size: 0.8rem;
}
.get-a-quote {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: rgba(231, 124, 1, 0.836);
  color: rgb(3, 2, 0);
  width: 25%;
  padding: 0rem 1rem;
}
.get-a-quote div {
  display: flex;
  flex-direction: column;
  margin: 1rem 0rem;
}
input {
  height: 2rem;
  padding-left: 1rem;
}
#message {
  height: 5rem;
  padding-left: 1rem;
}
#sub {
  background-color: darkred;
  color: white;
  margin-top: 0.5rem;
  width: 5rem;
  height: 2.5rem;
  border: none;
  cursor: pointer;
  padding: 0;
}
@media (max-width: 1420px) {
  .section-5 {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: auto;
  }
  .get-a-quote {
    position: static;
    width: 60%;
  }
  footer {
    height: auto;
    padding: 1rem;
  }
}
@media (max-width: 800px) {
  .services {
    width: 90%;
  }

  .get-a-quote {
    width: 90%;
  }
}
